.App {
   text-align: center;
}

.App-logo {
   height: 40vmin;
   pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
   .App-logo {
      animation: App-logo-spin infinite 20s linear;
   }
}

.custom-progress-bar {
   background-color: purple;
}

.App-header {
   background-color: #282c34;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   font-size: calc(10px + 2vmin);
   color: white;
}

.App-link {
   color: #61dafb;
}

@keyframes App-logo-spin {
   from {
      transform: rotate(0deg);
   }
   to {
      transform: rotate(360deg);
   }
}

.border-expand {
   animation-name: expand;
   animation-duration: 0.3s;
   animation-fill-mode: forwards;
}

.border-shrink {
   animation-name: shrink;
   animation-duration: 0.3s;
   animation-delay: 0.15s;
   animation-fill-mode: backwards;
}

@keyframes expand {
   from {
      width: 0;
   }
   to {
      width: 100%;
   }
}

@keyframes shrink {
   from {
      width: 100%;
   }
   to {
      width: 0;
   }
}
